body{
	margin: 0px;
	padding: 0px;
	background-color: lightgrey;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

#main {
	margin: 0% 3% 0% 3%;
	background-color: rgb(56,56,56);
}

#header1 {
	height: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 40px;
	background-color: black;

}

#header1 .left{
	width: 50%;	
	padding-left: 15px;
	color: white;
}

#header1 .right{
	width: 50%;	
	float: right;
	text-align: right;
	padding-right: 15px;
	color: white;
	font-size: 10px;
}

#header2 {
	background-color: lightgrey;
	line-height: 50px;
	height: 50px;
}

#header2 .left{
	width: 50%;	
	padding-left: 15px;
	color: darkgreen;
	position: relative;
	font-size: 27px;
}

#header2 .right{
	width: 50%;	
	float: right;
	text-align: right;
	padding-right: 15px;
	color: black;
	font-size: 11px;
}

#house {
	width: 2%;
	height: auto;
	vertical-align: -5%;
}

#breakthrough {
	background-image: url(../images/hero.jpg);
	height: 400px;
	color: white;
	position: relative;
	background-position: 50% 25% ;
	
}

#img1 {
	width: 420px;
	height: 220px;;
	position: static;
	z-index: -1;
}

#breakthrough .left {
	padding-left: 15px;
	width: 700px;
}

#breakthrough .over {
	font-size: 23px;
	font-weight: 350;
	z-index: 0;
	position: absolute;
	width: 490px;
	height: 35px;
	top: 31%;
	left: 15px;
}

#breakthrough .leftover {
	z-index: 0;
	position: absolute;
	width: 5%;
	height: 13%;
	top: 41%;
	left: 15px;
	border-right: 2px solid grey;

}

#graph {
	width: 25px;
	height: auto;
	z-index: 1;
	padding: 8px 5px 5px 8px;

}

#breakthrough .rightover {
	z-index: 0;
	position: absolute;
	width: 39%;
	height: 13%;
	top: 41%;
	left: 7%;
	padding-left: 2px;
	font-size: 13px;
}

#boxleft {
	height: 110px;
	width: 130px;
	background-color: darkgreen;
	color: white;
	position: relative;
	padding: 10px 10px 10px 10px;
	top: 10px;
	font-size: 10px;
	line-height: 20px;

}

#boxright {
	height: 110px;
	width: 130px;
	background-color: green;
	color: white;
	position: absolute;
	float: right;
	left: 162px;
  	padding: 10px 10px 10px 10px;
  	top: 0px;
  	font-size: 10px;
	line-height: 20px;
}

#boxleft b {
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 23px;
}

#breakthrough .right {
	width: 175px;
	height: 97.5%;
	float: right;
	position: absolute;
	background-color: rgb(0, 0, 0, .5);
	right: 15px;
	top: 0px;
	padding: 10px 10px 0px 10px;
	font-size: 10px;
	line-height: 22px;
}

.right b {
	font-size: 15px;
	font-weight: 400;

}

input {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 5px;
	padding: 6px 0px 6px 0px;
	margin-top: 7px;
}
/*
#username {
	margin-top: 7px;
}

#password {
	margin-top: 7px;
}
*/
#submit {
	margin-top: 7px;
	width: 89%;
	text-transform: uppercase;
	background-color: rgb(31, 159, 20);
	color: white;
	border: none;
	height: 30px;
	width: 88%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 5px;
}

button img {
	width: auto;
	height: 15px;
	vertical-align: middle;
	line-height: 20px;
}

#engage {
	height: 370px;;
	width: 100%;
	background-color: white;
	overflow: hidden;
}

#engage .left {
	height: 350px;
  width: 47%;
	float: left;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border-right: 1px white solid;
	font-size: 13px;
}

#engage .left b {
font-size: 25px;
}

#engage .right {
	height: 340px;
  width: 490px;
	float: right;
	padding: 20px 10px 10px 10px;
	background-color: white;
	border: none;
	font-size: 10px;
	line-height: 15px;
}

#engage img {
	width: auto;
	height: 80%;
	object-fit: contain;
}

a {
	text-decoration: none;
}

/* Footer */

#footer {
	width: 100%;
	height: 150px;
	background-color: rgb(56,56,56);
	padding-top: 15px;
	float: left;
	font-size: 9px;
	font-weight: 300;
	color: white;
	border-bottom: 1px rgb(104,104,104) solid;
	line-height: 13px;
}

#footer b {
	color: darkgray;
	font-size: 12px;
}

.box {
    float: left;
    width: 18%;
    padding: 10px;
	  margin: 0px;
	  position: relative
}

.bottom {
	background-color: rgb(56,56,56);
	font-size: 8px;
	color: white;
	width: 99%;
	padding: 10px 0px 10px 5px;
}

.bottom b{
	color: darkgray;
	font-weight: 300;
}























